# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/

# Virtualenv
__pycache__/
venv/
.venv/
env/
*.egg-info/
dist/
build/
.aiverifyrc

# Config
.aiverifyrc

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Coverage
.coverage
htmlcov/
